
.Search_cont {
    display: flex;
    padding: 1.5rem;
    box-shadow: 5px 2px 5px 5px rgb(231, 230, 230);
    width: 600px;
    z-index: 2;
    position: absolute;
    background-color: white;
    top: 60px;
    left: 60%;
    /* overflow: visible; */
    /* border: 1px solid black; */
}
.trend_box{
    width: 35%;
}
.trending{

    font-weight: bold;
}
.Search_cont> div:nth-child(1){
    margin-right: 2rem;
}

.lists{
    list-style-type: none;
}

.lists> li{
    margin-bottom: 1rem;
    cursor: pointer;
}

.popping{
    display: flex;
    margin: 20px 0;
}
.popping> div{
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
}