.product_card_container {
    /* border: 1px solid red; */
    padding: 10px;
    margin: 10px;
    width: 90%;
    text-align: start;
    line-height: 23px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product_card_container:hover {
    cursor: pointer;

}


.product_card_image > img {
    display: block;
    margin: auto;
    width: 90%;
    height: 300px;
}




.product_card_image {
    position: relative;
}

.product_card_image > p {
    position: absolute;
    background-color: white;
    color: darkorange;
    top: 90%;
    left: 62%;
    padding: 2px 10px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
}

.product_card_image > button {
    /* display: none; */
    position: absolute;
    top: 75%;
    left: 35%;
    padding: 7px 12px;
    font-size: .75rem;
    font-weight: 700;
    border-radius: 2px;
    border: none;
    color: #ffffff;
    background-color: #ff7035;
    cursor: pointer;
}




.product_card_container > p:nth-child(2) {
    /* border: 1px solid red; */
    font-size: 14px;
    margin: 10px 10px 5px 10px;
}

.product_multiple_images {
    /* border: 1px solid teal; */
    margin: -10px 0px;
    display: flex;
}
.product_multiple_images > img {
    width: 20%;
    height: 60px;
    margin: 10px;
}

.product_item_name {
    /* border: 1px solid red; */
    font-weight: 600;
    margin: 5px 10px;
}

.product_item_brand {
    /* border: 1px solid red; */
    font-weight: 200;
    font-size: 13px;
    margin: 10px;
}

.product_item_lowprice {
    /* border: 1px solid red; */
    color: #ff7035;
    font-weight: 600;
    font-size: 18px;
    margin: 0px 10px;
}

.product_item_highprice {
    /* border: 1px solid red; */
    font-weight: 200;
    font-size: 13px;
}

.product_item_percentage {
    /* border: 1px solid red; */
    font-weight: 600;
    font-size: 13px;
    margin: 2px 10px;
    color: #67ad5b;
}

.product_item_shipment {
    font-weight: 400;
    font-size: 14px;
    margin: 0px 10px;
}

.shipment_day {
    font-weight: 600;
}






@media screen and (max-width: 820px) {
    .product_sidebar_wrapper {
        width: 300px;
    }
    .product_card_container {
        margin: auto;
        width: 70%;
    }

    .product_card_container > img {
        display: block;
        margin: auto;
    }
}